{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": ["@babel/preset-env", "@babel/typescript"]
}
